<%= @year %><%= @nengo %>年<%= @month %>月
<p>
<a href="/<%= @y1 %>/<%= @m1 %>">先月</a>
<a href="/">今月</a>
<a href="/<%= @y2 %>/<%= @m2 %>">来月</a>
<br>
<a href="/<%= @sakunen %>/<%= @month %>">昨年</a>
<a href="/<%= @rainen %>/<%= @month %>">来年</a>
</p>

<%= @t %>

